
h1{
    color:black;
    font-family: -apple-system, system-ui, "Roboto", "Lucida Grande", Arial, sans-serif;
    font-size: 2.5em;
}

h2{
    color:black;
    font-family: -apple-system, system-ui, "Roboto", "Lucida Grande", Arial, sans-serif;
    font-size: 1.8em;
}

p{
    color:#131313;
    font-family: -apple-system, system-ui, "Roboto", "Lucida Grande", Arial, sans-serif;
    font-size: 1.2em;
    text-align: justify;
    margin-top: 2em;
}   



.masthead{
    margin-top: 30px;
    width: 100%;
    font-family: -apple-system, system-ui, "Roboto", "Lucida Grande", Arial, sans-serif;
    color:#131313;
}

.masthead a{
    color:#131313;
}

.masthead_menu{
    margin-top: 1em;
    margin-bottom: 1em;
}

.masthead_menu ul{
    max-width: 80%;
    margin-left: 15%;
    margin-right: auto;
    padding-left: 0px;
    display: flex;
    list-style-type: none; 
    align-items: center;
}


.masthead_menu-item{
    display: flex; 
    display: block;
    padding-left: 0px;
    padding-right: 20px;
    margin-left: 0px;
    margin-right: 20px;
}

.page_main{
    width: 70%;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6em;
    margin-bottom: 4em;
    font-family: -apple-system, system-ui, "Roboto", "Lucida Grande", Arial, sans-serif;
    padding-bottom: 160px;
}

.page_main#main_first{

    display: flex;
    justify-content: space-between;
    gap: 12em; 
}


.page_content{
    margin-top: 3em;
    color:#131313;
}

.page_block{
    margin-top: 6em;
    margin-bottom: 6em;
}



.page_footer {
    background-color: white;
    border-top: 0.5px solid #484848;
    bottom: 0;
    width: 100%;
    font-family: -apple-system, system-ui, "Roboto", "Lucida Grande", Arial, sans-serif;
    color: #484848;
    height: 150px;
    z-index: 2;
}

.page_footerlink ul{
    display: flex; 
    width: 80%;
    margin-left: 15%;
    padding-left: 0;
    list-style-type: none; 
    margin-bottom: 2em;
    margin-top: 2em;
}

.page_footerlinklst a{
    color: #484848;
    font-family: -apple-system, system-ui, "Roboto", "Lucida Grande", Arial, sans-serif;
    display: flex; 
    margin-right: 3em;
}

.page_footer-copyright{
    display: flex; 
    max-width: 80%;
    margin-left: 15%;
    margin-bottom: 2em
}



img{
    max-width: 100%;
    height:auto;
    object-fit: cover;
}

.amber_image{
    max-width: 30%;
    height: auto;
}



button.learnmore {
    font-size: 14px; /* Adjust the font size */
    background-color: white;
    color: black; /* Button text color */
    border: none;
    padding: none;
    margin: none;
    text-decoration: underline;
    cursor: pointer;
}




.expanded-section {
    padding: 20px;
    border-top: 1px solid #ccc;
    margin-top: 20px;
  }

/* Close Button (X) */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.gallery-container {
    position: relative;
    width: 90%;
    max-width: 1280px;
    margin: auto;
    margin-top: 4em;
    margin-bottom: 4em;
  }
  
  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  .gallery-slide {
    width: 100%;
    display: none;
  }
  
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 7px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    user-select: none;
    background-color: rgba(0, 0, 0, 0.3);
    border: none;
    border-radius: 0;
    z-index: 1;
  }

  .prev {
    left: 0;
  }
  
  .next {
    right: 0;
  }
  
  .prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  