
h1{
    color:black;
    font-family: -apple-system, system-ui, "Roboto", "Lucida Grande", Arial, sans-serif;
    font-size: 2.5em;
}

h2{
    color:black;
    font-family: -apple-system, system-ui, "Roboto", "Lucida Grande", Arial, sans-serif;
    font-size: 1.8em;
}

p{
    color:#131313;
    font-family: -apple-system, system-ui, "Roboto", "Lucida Grande", Arial, sans-serif;
    font-size: 1.2em;
    text-align: justify;
}   



.masthead{
    margin-top: 30px;
    width: 100%;
    font-family: -apple-system, system-ui, "Roboto", "Lucida Grande", Arial, sans-serif;
    color:#131313;
}

.masthead a{
    color:#131313;
}

.masthead_menu{
    margin-top: 1em;
    margin-bottom: 1em;
}

.masthead_menu ul{
    max-width: 80%;
    margin-left: 15%;
    margin-right: auto;
    padding-left: 0px;
    display: flex;
    list-style-type: none; 
    align-items: center;
}


.masthead_menu-item{
    display: flex; 
    display: block;
    padding-left: 0px;
    padding-right: 20px;
    margin-left: 0px;
    margin-right: 20px;
}

.page_main{
    max-width: 80%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 6em;
    margin-bottom: 4em;
    font-family: -apple-system, system-ui, "Roboto", "Lucida Grande", Arial, sans-serif;
}

.page_main#main_first{

    display: flex;
    justify-content: space-between;
    gap: 15em; 
}


.page_content{
    margin-top: 3em;
    color:#131313;
}

.page_footer {
    background-color: white;
    border-top: 0.5px solid #484848;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-family: -apple-system, system-ui, "Roboto", "Lucida Grande", Arial, sans-serif;
    color: #484848;
}

.page_footerlink ul{
    display: flex; 
    width: 80%;
    margin-left: 15%;
    padding-left: 0;
    list-style-type: none; 
    margin-bottom: 2em;
    margin-top: 2em;
}

.page_footerlinklst a{
    color: #484848;
    font-family: -apple-system, system-ui, "Roboto", "Lucida Grande", Arial, sans-serif;
    display: flex; 
    margin-right: 3em;
}

.page_footer-copyright{
    display: flex; 
    max-width: 80%;
    margin-left: 15%;
    margin-bottom: 2em
}

.publication{
    margin-top: 2em;
    color:#131313;
    font-family: -apple-system, system-ui, "Roboto", "Lucida Grande", Arial, sans-serif;
}

.publication_item{
    margin-top: 3em;
}

.publication_item a{
    color: #131313;
}

.amber_image{
    width: 20em;
}